@import "../../../../modules/common/styles/extends.scss";

#landing {
	@extend %panel-overlay;
}

#landing-content {
	@extend %panel;
	display: flex;
	align-items: center;
	justify-content: center;
}
