$primary-dark-color: #0a0b0d;
$secondary-dark-color: lighten($primary-dark-color, 6%);
$primary-light-color: #ffffff;
$secondary-light-color: rgba($primary-light-color, 0.8);
$primary-highlight-color: #f28e13;
