@import "../../../../modules/common/styles/variables.scss";
@import "../../../../modules/common/styles/extends.scss";

.btn {
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	font-weight: 700;
	font-size: 12px;

	&-primary {
		@extend %highlight-box-shadow;
		background: transparent;
		color: $primary-light-color;
		width: 160px;
		height: 30px;
		padding-right: 30px;
		border: 1px solid $primary-highlight-color;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		&-icon {
			transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			padding-right: 10px;
			width: 30px;
			height: 29px;
			background: linear-gradient(
				90deg,
				rgba($primary-highlight-color, 0.6) 25%,
				rgba($primary-highlight-color, 0.8) 75%,
				rgba($primary-highlight-color, 1) 100%
			);

			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;
		}

		&:hover &-icon {
			transition: width 0.3s ease-in-out, background-color 0.3s 0.3s ease-in-out;
			width: 159px;
			background-color: $primary-highlight-color;
		}
	}

	&-navigation {
		@extend %highlight-box-shadow;
		background: transparent;
		color: $primary-light-color;
		width: 220px;
		height: 50px;
		padding-right: 30px;
		background-color: transparent;
		border: 1px solid $primary-highlight-color;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		&-icon {
			transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			padding-right: 20px;
			width: 50px;
			height: 49px;
			background: linear-gradient(
				90deg,
				rgba($primary-highlight-color, 0.6) 25%,
				rgba($primary-highlight-color, 0.8) 75%,
				rgba($primary-highlight-color, 1) 100%
			);

			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;
		}

		&:hover &-icon {
			transition: width 0.3s ease-in-out, background-color 0.3s 0.3s ease-in-out;
			width: 219px;
			background-color: $primary-highlight-color;
		}
	}
}
